
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1>Book Store</h1>
        <p class="lead text-muted">Read a book & Take a coffee!</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Register</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <% if(data.length) { %>
            <% for(var i=0; i<data.length; i++) { %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

              <div class="card-body">
                <h4 class="card-text text-success" id="name"><%= data[i].name %> </h4>
                <p class="card-text" id="author"><%= data[i].author %> </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Read Demo</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                  </div>
                  <small class="text-muted" id="date"><%= data[i].created_at.toDateString() %> </small>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% } %>

        </div>
      </div>
    </div>
  </main>

