
	<% if (messages.error) { %>
	<div class="alert alert-danger" role="alert"><%- messages.error %></div>
	<% } %>

    <div class="card">
    	<div class="card-header">
			Add Book
		</div>
        <div class="card-body">
            <form action="/books/add" method="post">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Author:</label>
                    <input type="text" class="form-control" name="author" value="<%= author %>" autocomplete="off">
                </div>
                <div class="form-group">
                  <label>Book Cover:</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input customFileImg" id="customFileImg" name="customFileImg">
                    <label class="custom-file-label" for="customFileImg">Choose file</label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Book PDF:</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input customFilePdf" id="customFilePdf" name="customFilePdf">
                    <label class="custom-file-label" for="customFilePdf">Choose file</label>
                  </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Add"/>
                </div>
            </form>
        </div>
    </div>

    <script>
          // Add the following code if you want the name of the file appear on select
          $(".customFileImg").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });

          $(".customFilePdf").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
          });
      </script>
